
*{
    margin: 0;
    padding: 0;
}
p:first-letter
    {
     color:red;
     text-shadow: black;
     text-decoration-style:double ;
    }
 body
   {
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       width: 90%;
       margin:0 auto;
       background-color:  #e1f0fe;
       margin-bottom: 1em;
   }
 h1
     {
         color: #e1f0fe;
         background-color: #202064;
         font-size: 200%;
         padding-top: 1em;
         text-align: center;
         padding-bottom: 1em;
     }
 h2
     {
        color: #0c77db;
        background-color: #202064;
        text-align: center;
        font-size: 160%;
        padding-top: 1em;
        padding-bottom: 1em;
     }
 h3
     {
         color: #202064;
         font-size: 160%;
         padding-top: 1em;
     }
 h4
     {
         color: #0060B4;
         font-size: 140%;
         padding-top: 1em;
     }
h5
     {
         color: #0060B4;
         font-size: 120%;
         padding-top: 1em;
     }
 p
     {
         text-align: justify;
         text-indent: 5% ;
         padding: .5em;
     }
blockquote
     {
        text-align: justify;
        text-justify:auto ;
        background-color: whitesmoke ;
        margin-left:2em;
        padding: 1em;
        text-indent: 5% ;
          
     }
